.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# R Environment Variables
.Renviron


# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Stuff
data/
docs/
junk*

